<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if devour}}DEVOUR TIME!{{else}}Toss!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>