<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger App</title>
    <!--Link Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <!--Link JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>


<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Eat Da Burger!</h1>
                <p class="lead">Have it your way.<br>
                 Enter your burger style.</p>
                
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text"  class="form-control-plaintext" id="staticEmail2" >
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only"></label>
                        <input type="text" class="form-control" id="inputPassword2">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Make your burger</strong></div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                            <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                            <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}" data-newDevoured={{devour}}><span class="fa fa-usd"></span></button>
                            <hr>

                            {{/unless}}
                        {{/each}}
                    </ul>

                </div>
        </div>
    </div>
    <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightSide"><strong>Eat da burger</strong></div>
                <div class="panel-body">

                     <ul>
                        {{#each burgers}}
                         {{#if devoured}}
                            <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                            <button type="button" class="trashburger btn btn-warning" id="trashbutton" data-id="{{this.id}}" data-newDevoured={{devour}}><span class="fa fa-trash"></span></button>
                            <hr>

                            {{/if}}
                        {{/each}}
                    </ul>
    </div>  

    </div>
    <!--insert form-->



    </div>


</body>

</html>